<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/navbar") %>
      <div class="container-md">
        <form class="row g-3" method="post">
          <div class="col-md-6">
            <input type="text" name="fullName" class="form-control" placeholder="Full Name" aria-label="Full Name"
              value="<%= profile.fullName %>">
          </div>
          <div class="col-md-6">
            <input type="number" name="phoneNumber" class="form-control" placeholder="Phone Number"
              aria-label="Phone Number" value="<%= profile.phoneNumber %>">
          </div>
          <div class="col-md-6">
            <input type="date" class="form-control" name="dateOfBirth"
              value="<%= new Date(profile.dateOfBirth).toISOString().split("T")[0] %>">
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" name="email" placeholder="Email" value="<%= profile.email %>">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" name="address" placeholder="Address" value="<%= profile.address %>">
          </div>
          <button type="submit" class="btn btn-primary col-12">Submit</button>
      </div>
      </form>
      </div>
  </body>

</html>